<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Need to change your todo?</h1>

    {{#model}}
        <form class="" action="/edit/{{id}}" method="post">
          <input type="text" name="editName" value="{{name}}">
          <input type="submit" name="" value="Update">
        </form>
    {{/model}}

  </body>
</html>
